container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: true
  02_compilemessages:
    command: "django-admin compilemessages"
  03_seed_amenities:
    command: "manage seed_amenities"
  04_seed_facilities:
    command: "manage seed_facilities"
  05_seed_users:
    command: "manage seed_users --number 50"
  06_seed_rooms:
    command: "manage seed_rooms --number 50"
  07_seed_reviews:
    command: "manage seed_rooms --number 200"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings