container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: true
  02_compilemessages:
    command: "django-admin compilemessages"
  03_seed_amenities:
    command: "python manage.py seed_amenities"
  04_seed_facilities:
    command: "python manage.py seed_facilities"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings