container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: true
  02_compilemessages:
    command: "django-admin compilemessages"
  03_seed_rooms:
    command: "python manage.py seed_rooms --number 50"
  04_seed_reviews:
    command: "python manage.py seed_reviews --number 50"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings