{% extends "base.html" %}

{% block page_title %}
Reservation {{reservatoin.check_in}}
{% endblock page_title %}

{% block search_bar %}

{% endblock search_bar %}

{% block content %}
<div class="container mx-auto my-10 flex flex-col">
    <div class="text-center my-10 text-xl font-semibold">
        Your Reservation Lists
    </div>
    {% for room in user.rooms.all %}
    {% for reservation in room.reservations.all %}
    {% if forloop.first %}
    <div class="mt-10 font-semibold text-xl">Host Rooms</div>
    {% endif %}
    <div class="flex flex-row">
        <li>
            <a href="{% url "reservations:detail" reservation.pk %}"
                class="ml-3 font-medium text-lg mr-3">{{reservation}}</a>
            {% if reservation.status == "confirmed" %}
            <span class="text-green-600 font-semibold text-sm">Confirmed</span>
            {% endif %}
            {% if reservation.status == "canceled" %}
            <span class="text-red-600 font-semibold text-sm">Canceled</span>
            {% endif %}
            {% if reservation.status == "pending" %}
            <span class="text-yellow-600 font-semibold text-sm">Pending</span>
            {% endif %}
        </li>
    </div>
    {% endfor %}
    {% endfor %}
    {% for reservation in user.reservations.all %}
    {% if forloop.first %}
    <div class="mt-10 font-semibold text-xl border-t">Guest Rooms</div>
    {% endif %}
    <div class="flex flex-row">
        <li>
            {% if reservation.guest == user %}
            <a href="{% url "reservations:detail" reservation.pk %}"
                class="ml-3 font-medium text-lg mr-3">{{reservation}}</a>
            {% if reservation.status == "confirmed" %}
            <span class="text-green-600 font-semibold text-sm">Confirmed</span>
            {% endif %}
            {% if reservation.status == "canceled" %}
            <span class="text-red-600 font-semibold text-sm">Canceled</span>
            {% endif %}
            {% if reservation.status == "pending" %}
            <span class="text-yellow-600 font-semibold text-sm">Pending</span>
            {% endif %}
            {% endif %}
        </li>
    </div>
    {% endfor %}
</div>
{% endblock content %}