{% extends "base.html" %}

{% block page_title %}
Log in
{% endblock page_title %}

{% block search_bar %}

{% endblock search_bar %}

{% block content %}
<div class="container xl:w-1/4 lg:w-1/3 md:w-1/3 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
    {% include "partials/social_login.html" %}
    {% include 'mixins/auth/auth_form.html' with form=form cta="Login" %}

    <div class="mt-5">
        <span class="mr-2">
            Don't have an account?
        </span>
        <a href="{% url "users:signup" %}" class="text-red-600 font-medium">Sign up</a>
    </div>
</div>
{% endblock content %}